/* Medium Layout: 1280px. */
@media only screen and (min-width: 992px) and (max-width: 1200px) { 
  
    .boxed-btn, input[type="submit"], button[type="submit"] {
	  font-size: 13px;
	  padding: 13px 12px;
      }
    .email-subscriber-form input[type="email"] {

	  width: 15%;
		}
	.social-links li:nth-child(5) {
 		 padding-left: 10px;
	}
	.social-links li {
	  float: left;
	  font-size: 10px;
	  padding-left: 10px;
	}
	.hero-area h1 {

	  font-size: 35px;
	  
	}

	.single-service-box-2 {

	  height: 210px;
	}
	.single-item-wrapper h2 {
	  font-size: 50px;
	  line-height: 60px;
    }
	.pdt-50 {
	  padding-top: 30px;
	}
	.theme-2 .single-case-study {
	  height: 280px;
	}
	.boxed-case-study .single-case-study {
	  height: 220px;
	}
	.blog-thumb-wrapper {
	  height: 200px;
	}
	.single-blog-box {
	  padding: 20px;
	}
	.blog-thumb-wrapper {
	  margin: -20px;
	}
	.service-section {
	  padding-top: 30px;
	}
	.service-section::before {
	  top: -46px;
	  width: 48%;
	}
	.social-icon-2 li {
	  padding-right: 0px;
	}

}
/* Tablet Layout: 768px. */
@media only screen and (min-width: 768px) and (max-width: 991px) { 
 
    .logo {
  margin-bottom: 10px;
  text-align: center;
}
.header-area .text-right {
  text-align: center;
}
.mainmenu {
  display: none;
}
.hero-area .text-right {
  text-align: left;
}
.website-checker-form {
  margin-bottom: 50px;
}
.hero-area {
	padding: 50px 0;

}
.mobile-padding-fix {
  padding-top: 0;
  padding-bottom: 50px;
}
.mobile-left{
	text-align: left;
}
.section-padding{
	padding: 75px 0;
}
.cta-area {
  text-align: center;
}
.social-links li:nth-child(4) {
  padding-left: 50px;
}
.footer-area .mobile-center {
  text-align: center;
}
.email-subscriber-form input[type="email"] {
  background-color: #f6f6f6;
  border-radius: 0;
  width: 26%;
}
.single-item-wrapper h2 {
  color: #fff;
  font-size: 35px;
  line-height: 21px;
}
.footer-area-2, .footer-area-2 .social-links {
  text-align: center;
}
.copyright-area-2 ,.copyright-area-2 .text-right {
  text-align: center;
}
.text-right .title-gallary {
  text-align: left;
}
.service-section::before {
  display: none;
}
.service-section::after {
  display: none;
}
.service-box-2 {
  min-height: inherit;
}
	.breadcrumb-area {
  font-size: 15px;
  padding: 80px 0;
}
.breadcrumb-area h2 {
  margin-bottom: 10px;
}
.hero-area h1 {
  font-size: 40px;
  margin-top: 0px;
  max-width: inherit;
}
.hero-form {
  margin-top: 50px;;
}
}
/* Tablet & Mobile Layout: 768px. */
@media only screen and (max-width: 991px) { 
 
    
}
/* Mobile Layout: 320px. */
@media only screen and (max-width: 767px) { 
 
    
}
/* Wide Mobile Layout: 480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) { 

}