h3 {
    font-size: 22px;
}
.hero-area{background-image: url(../img/hero-bg-2.png);background-color: #2d99f7;
    background-position: center center;
    background-size: cover;
    color: #fff;
    line-height: 1.8;
    padding: 80px 0;
}
.boxed-btn, input[type=submit],input[type=submit] {background-color: #06d6a0;}

.hero-area h1 {
    color: #fff;
    font-size: 45px;
    margin-top: 90px;
}
.service-icon {
    color: #0bb7fd;
    margin-bottom: 15px;
}










