
body, html, .homepage-hero-area-4, .single-slide-item {
    height: 100%;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
}
body {
    font-weight: 300;
    line-height: 1.6;
}
.homepage-hero-area-4{background-image: url(../img/hero-area-4.jpg);}
.single-slide-item {
    display: table;
    height: 100%;
    width: 100%;
}
.single-item-wrapper {
    color: #fff;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    width: 100%;
    font-weight: 300;
}

.single-item-wrapper h2 {
    color: #fff;
    font-weight: 700;
    line-height: 55px;
    font-size: 43px;
}
.website-checker-form {
    margin-top: 30px;
}
.website-checker-form input {
    background: #073b4c none repeat scroll 0 0;
    border-color: #073b4c;
}
.boxed-btn, input[type="submit"], button[type="submit"] {
    background-color: #06d6a0;
}
.pdt-80 {
    padding-top: 80px;
}
.inline-btn {
    color: #06d6a0;
    display: inline-block;
    padding-top: 20px;
}
.single-service-box:hover{
    border-color: #62debe;
}
.single-service-box:hover a.service-reademore-btn,.single-service-box:hover h3,.single-service-box:hover .service-icon{
    color: #62debe;
}
.signle-pricing-box:hover{
    border-color: #06d6a0;
}
.pricing-count{
    color: #06d6a0;

