/* Base CSS */
@import url('https://fonts.googleapis.com/css?family=Khula:300,400,600,700,800');
.alignleft {
    float: left;
    margin-right: 15px;
}
.alignright {
    float: right;
    margin-left: 15px;
}
.aligncenter {
    display: block;
    margin: 0 auto 15px;
}
a:focus { outline: 0 solid }
img {
    max-width: 100%;
    height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 400;
    color: #373737;
}
body {
font-family: 'Khula', sans-serif;font-size: 15px;color: #999;
}
a:hover { text-decoration: none }
.header-area{
    padding: 20px 0px;
}

.mainmenu ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
.mainmenu li {
    display: inline-block;
    position: relative;
}
.mainmenu li a {
    color: #888;
    display: block;
    padding: 12px 15px;
}
.boxed-btn, input[type="submit"], button[type="submit"] {
    background: #ef476f none repeat scroll 0 0;
    border:none;
    border-radius: 2px;
    color: #fff;
    display: inline-block;
    font-size: 14px;
    padding: 13px 25px;
}
input[type="submit"], button[type="submit"]{
       padding: 11px 25px;
}
input[type=text],input[type=email],input[type=tel],input[type=passward],input[type=url],textarea{
    padding: 10px 15px;
    border:1px solid #f0f0f0;
}
.hero-area {
    border-bottom: 1px solid #f7f7f7;
    font-weight: 300;
    padding: 150px 0;
}
.hero-area h1 {
    font-size: 40px;
    margin-bottom: 20px;
    max-width: 440px;
    padding-top: 25px;
}
.website-checker-form{
    margin-top: 30px;
}


/*Class two css*/
.section-padding {
  padding: 115px 0;
}
.section-title {
  margin-bottom: 90px;
}
.single-service-box {
  border: 1px solid #fafafa;
  font-weight: 300;
  line-height: 1.6;
  margin-bottom: 50px;
  padding: 25px;
}
.service-icon {
  color: #231f20;
  font-size: 30px;
}
.single-service-box h3 {
  font-size: 20px;
  margin: 15px 0;
}
.service-reademore-btn {
  color: #373737;
  display: inline-block;
  font-weight: 400;
  margin-top: 10px;
}
.service-reademore-btn i.zmdi {
  padding-left: 5px;
}
.pdt-50 {
  padding-top: 50px;
}
.single-service-box:hover{
    border-color: #ef476f;
}

.single-service-box:hover a.service-reademore-btn,.single-service-box:hover h3,.single-service-box:hover .service-icon{
    color: #ef476f;
}
h2{font-size: 28px;line-height: 37px;}
.pdt-50 .boxed-btn {
  margin-top: 15px;
}
