/* Base CSS */
@import url('https://fonts.googleapis.com/css?family=Khula:300,400,600,700,800');
.alignleft {
    float: left;
    margin-right: 15px;
}
.alignright {
    float: right;
    margin-left: 15px;
}
.aligncenter {
    display: block;
    margin: 0 auto 15px;
}
a:focus { outline: 0 solid }
img {
    max-width: 100%;
    height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 400;
    color: #373737;
}
body {
font-family: 'Khula', sans-serif;font-size: 15px;color: #999;
}
a:hover { text-decoration: none }
.header-area{
    padding: 20px 0px;
}

.mainmenu ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
.mainmenu li {
    display: inline-block;
    position: relative;
}
.mainmenu li a {
    color: #888;
    display: block;
    padding: 12px 15px;
}
.boxed-btn, input[type="submit"], button[type="submit"] {
    background: #ef476f none repeat scroll 0 0;
    border:none;
    border-radius: 2px;
    color: #fff;
    display: inline-block;
    font-size: 14px;
    padding: 13px 25px;
}
input[type="submit"], button[type="submit"]{
       padding: 11px 25px;
}
input[type=text],input[type=email],input[type=tel],input[type=passward],input[type=url],textarea{
    padding: 10px 15px;
    border:1px solid #f0f0f0;
}
.hero-area {
    border-bottom: 1px solid #f7f7f7;
    font-weight: 300;
    padding: 150px 0;
}
.hero-area h1 {
    font-size: 40px;
    margin-bottom: 20px;
    max-width: 440px;
    padding-top: 25px;
}
.website-checker-form{
    margin-top: 30px;
}


/*Class two css*/
.section-padding {
  padding: 115px 0;
}
.section-title {
  margin-bottom: 90px;
}
.single-service-box {
  border: 1px solid #fafafa;
  font-weight: 300;
  line-height: 1.6;
  margin-bottom: 50px;
  padding: 25px;
}
.service-icon {
  color: #231f20;
  font-size: 30px;
}
.single-service-box h3 {
  font-size: 20px;
  margin: 15px 0;
}
.service-reademore-btn {
  color: #373737;
  display: inline-block;
  font-weight: 400;
  margin-top: 10px;
}
.service-reademore-btn i.zmdi {
  padding-left: 5px;
}
.pdt-50 {
  padding-top: 50px;
}
.single-service-box:hover{
    border-color: #ef476f;
}

.single-service-box:hover a.service-reademore-btn,.single-service-box:hover h3,.single-service-box:hover .service-icon{
    color: #ef476f;
}
h2{font-size: 28px;line-height: 37px;}
.pdt-50 .boxed-btn {
  margin-top: 15px;
}



.section-padding.gray-bg {
    background-color: #fbfbfb;
}
.bg-1{background-image: url(../img/mobile.png);}
.bg-2{background-image: url(../img/thanku.png);}
.bg-3{background-image: url(../img/tab.png) ;
background-position: center;
width: 100%;
background-repeat: no-repeat;
background-color: #ECECEC;
}

.single-case-study {
    display: table;
    height: 320px;
    position: relative;
    width: 100%;
}
.case-study-wrapper {
    background-color: #ef476f;
    color: #fff;
    display: table-cell;
    opacity: 0;
    padding: 30px;
    position: absolute;
    top: -87%;
    text-align: center;
    transition: all 0.3s ease 0s;
    vertical-align: middle;
    visibility: hidden;
    width: 100%;
}
.case-study-wrapper h3, .case-study-wrapper h4 {
    color: #fff;
}
.case-study-more {
    background-color: #fff;
    border-radius: 50%;
    color: #333;
    display: inline-block;
    height: 40px;
    line-height: 44px;
    margin-top: 10px;
    width: 40px;
}
.single-case-study:hover .case-study-wrapper {
   opacity: 1;
   visibility: visible;
   top: 0;
   left: 0;
   height: 100%
}
.case-studies-carousel.owl-carousel .owl-stage-outer {
    overflow: inherit;
}
.section-padding.overflow-x-hidden {
  overflow-x: hidden;
}

.owl-dots div {
    background: #e2e2e2 none repeat scroll 0 0;
    display: inline-block;
    height: 3px;
    margin: 2px;
    width: 20px;
}
.owl-dots div.active {
    background: #ef476f none repeat scroll 0 0;
}
.owl-dots {
    margin-top: 20px;
    text-align: center;
}
.single-testimonial-carousel {
    text-align: center;
}
.testimonial-content {
    color: #373737;
    font-size: 24px;
}
.testimonial-meta img{
    border-radius: 50%;
    display: inline-block!important;
    width: 65px!important;

}

.testimonial-meta {
    color: #999;
    font-size: 14px;
    font-weight: 300;
    margin-top: 40px;
}
.testimonial-meta h4 {
    color: #333;
    margin: 27px 0 10px;
}
.testimonial-carousel .owl-dot {
    margin-top: 40px;
}
.cta-area {
    background-color: #f8f8f8;
    padding: 60px 0;
}
.cta-area h2 {
    margin: 0;
    padding: 8px;
}

.signle-pricing-box {
    border: 1px solid #f8f8f8;
    margin-bottom: 75px;
    padding: 30px;
    text-align: center;
    transition: 0.2s
}
.pricing-content {
    font-size: 17px;
    line-height: 2.3;
}
.pricing-heading {
    border-bottom: 1px solid #f8f8f8;
}
.pricing-heading h4 {
    color: #373737;
    font-size: 20px;
    transition: 0.2s;
}

.pricing-count {
    color: #ef476f;
    font-size: 50px;
    font-weight: 400;
    line-height: 60px;
    margin: 0;
}
.pricing-content ul {
    list-style: outside none none;
    margin: 0 0 30px;
    padding: 0;
}
.pricing-content .boxed-btn {
    line-height: 1.4;
}

.signle-pricing-box:hover {
    border-color: #ef476f;
}
.signle-pricing-box:hover .pricing-heading {
    border-color: #ef476f;
}


.single-logo-item {
    display: table;
    height: 100px;
    width: 100%;
    opacity: 0.7;
    transition: 0.2s
}
.single-logo-item:hover{
  opacity: 1;
}
.single-logo-item:hover .logo-item-inner img{
  color: #ef476f;
}
.logo-item-inner {
    display: table-cell;
    vertical-align: middle;
}

.footer-area {
    background: #fdfdfd none repeat scroll 0 0;
}
.footer-area h4 {
    font-size: 20px;
}
.footer-area, .footer-area a {
    color: #999999;
}
.footer-area ul {
    line-height: 2;
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
.email-subscriber-form input[type="email"] {
    width: 16%;
    background-color: #f6f6f6;
    border-radius: 0;
}

.email-subscriber-form input[type="submit"] {
    border-radius: 0;
    margin-left: -4px;
    padding-top: 12px;
}

.social-links li a i.fa {
    margin-right: 5px;
}
.social-links li a:hover{
  color: #ef476f;
}
.social-links li {
    float: left;
    padding-left: 35px;
}
.social-links li:nth-child(1) {
    padding-left: 0;
}
.social-links li:nth-child(4) {
    padding-left: 0;
}
.social-links li:nth-child(5) {
    padding-left: 47px;
}
.email-subscriber-form {
    margin-bottom: 45px;
    margin-top: 45px;
}
.footer-area {
    padding: 70px 0;
}
.copy-right {
    background: #f7f7f7 none repeat scroll 0 0;
    padding: 8px;
}
.hero-form {
    background-color: #fff;
    border-radius: 5px;
    color: #333;
    padding: 30px;
    position: relative;
    z-index: 1;
}
.hero-form::after {
    background-color: #fff;
    border-radius: 5px;
    content: "";
    height: 100%;
    left: 10px;
    opacity: 0.2;
    position: absolute;
    top: 10px;
    width: 100%;
    z-index: -1;
}
.hero-form-header {
    font-size: 14px;
    margin-bottom: 30px;
    text-align: center;
}
.hero-form-header h2 {
    font-size: 22px;
    margin-bottom: 48px;
}
.hero-form-header h3 {
    font-size: 22px;
    margin-bottom: 10px;
}
.hero-form input {
    width: 100%;
}
.hero-form input[type="submit"] {
    display: block;
    margin: 35px auto 0;
    width: 200px;
}
.header-absolute{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index:9;
}
.header-absolute .mainmenu li a  {
  color: #fff;
}
.website-checker-form input {
    margin-right: 2%;
    width: 26%;
}
.website-checker-form input[type="submit"] {
    margin-right: 0;
    width: 14%;
}
