body {
    line-height: 1.7;
}
html, body {
    height: 100%;
}
.slide-bg-1{background-image: url(../img/slide-bg-1.jpg);
 background-repeat: no-repeat;
}
.single-slide-item::after{
	background: #1d65f0;
background: -moz-linear-gradient(45deg,  #1d65f0 0%, #1ac8fb 100%);
background: -webkit-linear-gradient(45deg,  #1d65f0 0%,#1ac8fb 100%);
background: linear-gradient(45deg,  #1d65f0 0%,#1ac8fb 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1d65f0', endColorstr='#1ac8fb',GradientType=1 );

}
.video-play-btn {
    background: #06d6a0 none repeat scroll 0 0;
    border-radius: 50%;
    color: #fff;
    display: inline-block;
    height: 62px;
    line-height: 64px;
    margin-top: 20px;
    padding-left: 4px;
    width: 62px;
    font-size: 23px;
}
.bg-1{background-image: url(../img/001.jpg);background-position: center;background-size: cover;}
.bg-2{background-image: url(../img/002.jpg);background-position: center;background-size: cover;}
.bg-3{background-image: url(../img/003.jpg);background-position: center;background-size: cover;}
.bg-4{background-image: url(../img/004.jpg);background-position: center;background-size: cover;}
.bg-5{background-image: url(../img/005.jpg);background-position: center;background-size: cover;}
.bw-1{background:url(../img/blog-1.jpg);}
.bw-2{background:url(../img/blog-2.jpg);}
.bw-3{background:url(../img/blog-3.jpg);}
.cta-area.theme-3 {
  background: rgba(0, 0, 0, 0) url("../img/cta-bg-2.jpg") repeat scroll 0 0;
  position: relative;
  z-index: 1;
  color: #fff;
  padding: 100px 0;
}
.cta-area.theme-3:after {
    background: #0ab8fd;
    background: -moz-linear-gradient(top,  #0ab8fd 0%, #4087f0 100%);
    background: -webkit-linear-gradient(top,  #0ab8fd 0%,#4087f0 100%);
    background: linear-gradient(to bottom,  #0ab8fd 0%,#4087f0 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0ab8fd', endColorstr='#4087f0',GradientType=0 );
}
.boxed-btn, input[type="submit"], button[type="submit"] {
    background-color: #06d6a0;
}
.website-checker-form {
    margin-top: -35px;
}

.pdt-50 {
    padding-top: 80px;
}
.single-service-box:hover {
}
.single-service-box:hover {
    border-color: #10d7a3;
}
.single-service-box:hover a.service-reademore-btn, .single-service-box:hover h3, .single-service-box:hover .service-icon {
    color: #10d7a3;
}

.single-service-box {
    margin-bottom: 0;
}
.owl-dots div.active {
    background: #0dd49f none repeat scroll 0 0;
}
.single-blog-box {
    box-shadow: 0 0 10px #f5f5f5;
    color: #999;
    display: block;
    font-weight: 300;
    padding: 30px;
    transition: all 0.3s ease 0s;
}
.single-blog-box h4 {
    line-height: 1.6;
}
.single-blog-box p:last-child {
    margin-bottom: 0;
}
.single-blog-box:hover {
    color: #999;
    opacity: 0.9;
}
.col-md-6.text-right a:hover {
    color: #6ce0bb;
}

.owl-dots div.active {
    background: #0dd49f none repeat scroll 0 0;
}
.single-blog-box {
    box-shadow: 0 0 10px #f5f5f5;
    color: #999;
    display: block;
    font-weight: 300;
    padding: 30px;
    transition: all 0.3s ease 0s;
}
.single-blog-box h4 {
    line-height: 1.6;
}
.single-blog-box p:last-child {
    margin-bottom: 0;
}
.single-blog-box:hover {
    color: #999;
    opacity: 0.9;
}
.cta-area.theme-3::after {
    content: "";
    height: 100%;
    left: 0;
    opacity: 0.8;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
}
.cta-area.theme-3 h2 {
    color: #fff;
    font-size: 40px;
    margin-bottom: 15px;
}
.cta-area.theme-3 .boxed-btn {
    background: #fff none repeat scroll 0 0;
    color: #333;
    font-weight: 400;
    margin-top: 40px;
    padding: 10px 40px;
}
.footer-area-2, .footer-area-2 a {
    color: #999;
}
.footer-area-2 ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
.footer-area-2 li {
    display: inline-block;
}
.footer-area-2 li a {
    display: block;
    padding: 12px;
}
.social-links a {
    color: #373737;
    display: inline-block;
    padding: 12px 0 12px 20px;
}
.copyright-area-2 {
    border-top: 1px solid #f7f7f7;
    font-weight: 300;
}
.copyright-area-2 ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
.copyright-area-2 li {
    display: inline-block;
}
.copyright-area-2 li a {
    color: #999;
    display: block;
    font-weight: 400;
    padding-left: 27px;
}
.col-md-6.text-right a:hover {
    color: #6ce0bb;
}
.footer-area-2 a:hover {
}
.footer-area-2 a:hover {
    color: #6ce0bb;
}
.footer-area-2 {
    padding: 40px 0;
}
.copyright-area-2 {
    padding: 20px 0;
}


